html,
body,
main {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.kanjiWord:hover {
	color: #f1f1f1;
}

.symbolKanji {
	a, a:hover, a:visited {
		font-size: 70px;
		text-decoration: none;
		color: black;
	}
}

.header{ 
	h1{
		cursor: pointer
	}
}
